/*ITIS 3135 Activity 5 css file*/

body
 {
    font-family:"arial";
    text-align: center;
    
}
        
/*Make it look more like a calculator*/
#calc
{
	width:250px;
    background-color:#cccccc;
    text-align:center;
    border:outset;
    padding:5px;
    margin: auto;
    background-color: lightyellow;
}
        
/*Change the style of the buttons*/
input
{
    font-family:"Courier New";
    text-align:right;
    background-color: lightblue;
 }
#action{
    background-color: orange;
}
.Calculate{
    background-color: lightgreen;
}
.clearText{
    background-color: red;
}
